# Make sure clams-python version is explicitly specified, at least the lower bound
clams-python==1.3.3
numpy
transformers==4.46.3
torch>=2.1,<3
Pillow>=10
mmif-python[cv]==1.1.2
einops
addict
easydict
matplotlib
torchvision
accelerate
PyYAML>=6.0

